# سوال ۱

## پکیج‌های مورد نیاز را ایمپورت میکنیم

In [210]:
import numpy as np
import pandas as pd

## بخش الف 

### داده را می‌خوانیم

In [211]:
df = pd.read_csv("IMDB-Movie-Data.csv")
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

## بخش ب

### ژانر‌ها و بازیگران را از حالت رشته به آرایه‌ای از رشته‌ها تبدیل می‌کنیم

In [212]:
df = df.assign(Genre=df.Genre.str.split(','), Actors=df.Actors.str.split(','))
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,"[Chris Pratt, Vin Diesel, Bradley Cooper, Z...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"[Adventure, Mystery, Sci-Fi]","Following clues to the origin of mankind, a te...",Ridley Scott,"[Noomi Rapace, Logan Marshall-Green, Michael...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"[Horror, Thriller]",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"[James McAvoy, Anya Taylor-Joy, Haley Lu Ric...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"[Animation, Comedy, Family]","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"[Matthew McConaughey, Reese Witherspoon, Seth...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"[Action, Adventure, Fantasy]",A secret government agency recruits some of th...,David Ayer,"[Will Smith, Jared Leto, Margot Robbie, Vio...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"[Crime, Drama, Mystery]","A tight-knit team of rising investigators, alo...",Billy Ray,"[Chiwetel Ejiofor, Nicole Kidman, Julia Robe...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,[Horror],Three American college students studying abroa...,Eli Roth,"[Lauren German, Heather Matarazzo, Bijou Phi...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"[Drama, Music, Romance]",Romantic sparks occur between two dance studen...,Jon M. Chu,"[Robert Hoffman, Briana Evigan, Cassie Ventu...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"[Adventure, Comedy]",A pair of friends embark on a mission to reuni...,Scot Armstrong,"[Adam Pally, T.J. Miller, Thomas Middleditch...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"[Comedy, Family, Fantasy]",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"[Kevin Spacey, Jennifer Garner, Robbie Amell...",2016,87,5.3,12435,19.64,11.0

### برای هر سطر به ازای هر ژانر یک سطر درست می‌کنیم

In [213]:
genres = df.explode('Genre')
genres

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,Action,A group of intergalactic criminals are forced ...,James Gunn,"[Chris Pratt, Vin Diesel, Bradley Cooper, Z...",2014,121,8.1,757074,333.13,76.0
0,1,Guardians of the Galaxy,Adventure,A group of intergalactic criminals are forced ...,James Gunn,"[Chris Pratt, Vin Diesel, Bradley Cooper, Z...",2014,121,8.1,757074,333.13,76.0
0,1,Guardians of the Galaxy,Sci-Fi,A group of intergalactic criminals are forced ...,James Gunn,"[Chris Pratt, Vin Diesel, Bradley Cooper, Z...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,Adventure,"Following clues to the origin of mankind, a te...",Ridley Scott,"[Noomi Rapace, Logan Marshall-Green, Michael...",2012,124,7.0,485820,126.46,65.0
1,2,Prometheus,Mystery,"Following clues to the origin of mankind, a te...",Ridley Scott,"[Noomi Rapace, Logan Marshall-Green, Michael...",2012,124,7.0,485820,126.46,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...
998,999,Search Party,Adventure,A pair of friends embark on a mission to reuni...,Scot Armstrong,"[Adam Pally, T.J. Miller, Thomas Middleditch...",2014,93,5.6,4881,NaN,22.0
998,999,Search Party,Comedy,A pair of friends embark on a mission to reuni...,Scot Armstrong,"[Adam Pally, T.J. Miller, Thomas Middleditch...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,Comedy,A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"[Kevin Spacey, Jennifer Garner, Robbie Amell...",2016,87,5.3,12435,19.64,11.0
999,1000,Nine Lives,Family,A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"[Kevin Spacey, Jennifer Garner, Robbie Amell...",2016,87,5.3,12435,19.64,11.0
999,1000,Nine Lives,Fantasy,A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"[Kevin Spacey, Jennifer Garner, Robbie Amell...",2016,87,5.3,12435,19.64,11.0

### ستون جدید برای شمارش تعداد فیلم‌ها اضافه می‌کنیم
### جدول جدیدی براساس ژانر تولید می‌کنیم و تعداد فیلم‌ها و میانگین درآمد را محاسبه می‌کنیم

In [214]:
genres['Count'] = 1
generes = genres.pivot_table(values=['Revenue (Millions)', 'Count'], index='Genre', aggfunc={'Revenue (Millions)': np.mean, 'Count': np.sum})
generes

           Count  Revenue (Millions)
Genre
Action       303          124.494476
Adventure    259          154.177024
Animation     49          191.223404
Biography     81           55.801600
Comedy       279           75.750784
Crime        150           61.804769
Drama        513           49.844205
Family        51          126.175714
Fantasy      101          131.850108
History       29           52.923846
Horror       119           36.705269
Music         16           47.070000
Musical        5           81.642000
Mystery      106           54.627640
Romance      141           42.503023
Sci-Fi       120          135.552545
Sport         18           65.042500
Thriller     195           69.577255
War           13           53.433000
Western        7          111.824000

## بخش ج

### هر دو سطر را باهمدیگر ادغام می‌کنیم. سپس سطر‌هایی که با خودشان ادغام شدند را کنار می‌گذاریم

In [215]:
cross_df = df.merge(df, how='cross')
cross_df = cross_df[cross_df.Title_x != cross_df.Title_y]

### ستون جدیدی به نام بازیگران مشترک به آن اضافه می‌کنیم و تمام سطر‌هایی که بازیگر مشترک ندارند را دور می‌اندازیم

In [216]:
cross_df['Intersect Actors'] = cross_df.apply(lambda row: ",".join(np.intersect1d(row.Actors_x, row.Actors_y).tolist()), axis=1)
cross_df = cross_df[cross_df['Intersect Actors'].str.len() > 0]
cross_df['Intersect Actors']

48             Zoe Saldana
85             Chris Pratt
87             Zoe Saldana
135         Bradley Cooper
255         Bradley Cooper
                ...
999068     Jennifer Garner
999332     Jennifer Garner
999567     Jennifer Garner
999678        Robbie Amell
999862     Jennifer Garner
Name: Intersect Actors, Length: 6862, dtype: object

### ستون جدیدی به نام فیلم‌های ادغام‌شده درست می‌کنیم و لیست دو فیلمی که باهم ادغام شدند را می‌گذاریم

In [217]:

cross_df['Joint Films'] = cross_df.apply(lambda row: f"{row.Title_x},{row.Title_y}", axis=1)
cross_df['Joint Films']

48                 Guardians of the Galaxy,Star Trek Beyond
85                   Guardians of the Galaxy,Jurassic World
87                           Guardians of the Galaxy,Avatar
135       Guardians of the Galaxy,The Place Beyond the P...
255                    Guardians of the Galaxy,The Hangover
                                ...
999068                                 Nine Lives,Wakefield
999332                        Nine Lives,Dallas Buyers Club
999567                                      Nine Lives,Juno
999678                                  Nine Lives,The DUFF
999862    Nine Lives,Alexander and the Terrible, Horribl...
Name: Joint Films, Length: 6862, dtype: object

### به دلیل قابل هش نبودن لیست، ستون‌های جدید رو به صورت رشته ذخیره کردیم

### حال براساس لیست بازیگر‌های مشترک، سطر‌ها را باهم ادغام می‌کنیم و لیست فیلم‌های ادغام شده را ادغام می‌کنیم

### برای اینکار یک تابع نوشتیم که سری‌هایی که بازیگر مشترک یکسان دارند را می‌گیرد و آن‌ها را با ویرگول به هم متصل می‌کند اما ممکن است در آن‌ها تکراری باشد. برای از بین بردن تکراری‌ها از تابع نامپای استفاده می‌کنیم و سپس دوباره آن‌ها را به رشته تبدیل می‌کنیم

In [218]:
from functools import reduce


def join_films(series):
    films = reduce(lambda x, y: f"{x},{y}", series)
    return ",".join(np.unique(films.split(',')))


intersect_actors_in_films = cross_df.pivot_table(values=['Joint Films'], index=[
    'Intersect Actors'], aggfunc={'Joint Films': join_films})


intersect_actors_in_films

                                                                                          Joint Films
Intersect Actors
 Aaron Burns                                                            Knock Knock,The Green Inferno
 Aaron Eckhart                                      Bleed for This,London Has Fallen,Olympus Has F...
 Aaron Eckhart, Morgan Freeman,Angela Bassett,G...               London Has Fallen,Olympus Has Fallen
 Aaron Taylor-Johnson                                                 Anna Karenina,Nocturnal Animals
 Abbie Cornish                                      A Good Year,Limitless,RoboCop,Solace,Sucker Punch
...                                                                                               ...
Will Smith                                          Collateral Beauty,Concussion,Focus,Hancock,I A...
Zac Efron                                           17 Again,Mike and Dave Need Wedding Dates,That...
Zach Galifianakis                                   Keeping Up with the Joneses,Masterminds,The Ha...
Zoey Deutch                                         Everybody Wants Some!!,Good Kids,Vampire Acade...
Zooey Deschanel                                                           (500) Days of Summer,Trolls

[767 rows x 1 columns]

## بخش د

### تمام فیلم‌های با نمره بین ۷.۵ و ۸.۵ که زمان آن بیشتر از ۱۱۰ دقیقه است را جدا می‌کنیم

In [219]:
part_d_movies = df[(df.Rating >=  7.5) & (df.Rating <= 8.5) & (df['Runtime (Minutes)'] >= 110)]
part_d_movies

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,"[Chris Pratt, Vin Diesel, Bradley Cooper, Z...",2014,121,8.1,757074,333.13,76.0
6,7,La La Land,"[Comedy, Drama, Music]",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"[Ryan Gosling, Emma Stone, Rosemarie DeWitt,...",2016,128,8.3,258682,151.06,93.0
10,11,Fantastic Beasts and Where to Find Them,"[Adventure, Family, Fantasy]",The adventures of writer Newt Scamander in New...,David Yates,"[Eddie Redmayne, Katherine Waterston, Alison...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"[Biography, Drama, History]",The story of a team of female African-American...,Theodore Melfi,"[Taraji P. Henson, Octavia Spencer, Janelle ...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"[Action, Adventure, Sci-Fi]",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"[Felicity Jones, Diego Luna, Alan Tudyk, Do...",2016,133,7.9,323118,532.17,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...
918,919,Perfume: The Story of a Murderer,"[Crime, Drama, Fantasy]","Jean-Baptiste Grenouille, born with a superior...",Tom Tykwer,"[Ben Whishaw, Dustin Hoffman, Alan Rickman, ...",2006,147,7.5,199387,2.21,56.0
959,960,Lucky Number Slevin,"[Crime, Drama, Mystery]",A case of mistaken identity lands Slevin into ...,Paul McGuigan,"[Josh Hartnett, Ben Kingsley, Morgan Freeman...",2006,110,7.8,271940,22.49,53.0
979,980,The Skin I Live In,"[Drama, Thriller]","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"[Antonio Banderas, Elena Anaya, Jan Cornet, ...",2011,120,7.6,108772,3.19,70.0
989,990,Selma,"[Biography, Drama, History]",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"[David Oyelowo, Carmen Ejogo, Tim Roth, Lor...",2014,128,7.5,67637,52.07,NaN
991,992,Taare Zameen Par,"[Drama, Family, Music]",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"[Darsheel Safary, Aamir Khan, Tanay Chheda, ...",2007,165,8.5,102697,1.20,42.0

### برای هر سطر به ازای هر ژانر یک سطر تولید می‌کنیم و سپس تمام ژانر‌ها را بدست می‌آوریم

In [220]:
pd.unique(part_d_movies.explode('Genre').Genre)

array(['Action', 'Adventure', 'Sci-Fi', 'Comedy', 'Drama', 'Music',
       'Family', 'Fantasy', 'Biography', 'History', 'Mystery', 'Thriller',
       'War', 'Crime', 'Western', 'Romance', 'Sport', 'Musical', 'Horror',
       'Animation'], dtype=object)

## بخش ه

### برای هر سطر به ازای هر بازیگر یک سطر تولید می‌کنیم و یک سطر برای شمارش تعداد فیلم‌ها اضافه می‌کنیم

In [221]:
actors = df.explode('Actors')
actors["Film Count"] = 1
actors

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Film Count
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,Chris Pratt,2014,121,8.1,757074,333.13,76.0,1
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,Vin Diesel,2014,121,8.1,757074,333.13,76.0,1
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,Bradley Cooper,2014,121,8.1,757074,333.13,76.0,1
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,Zoe Saldana,2014,121,8.1,757074,333.13,76.0,1
1,2,Prometheus,"[Adventure, Mystery, Sci-Fi]","Following clues to the origin of mankind, a te...",Ridley Scott,Noomi Rapace,2012,124,7.0,485820,126.46,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,999,Search Party,"[Adventure, Comedy]",A pair of friends embark on a mission to reuni...,Scot Armstrong,Shannon Woodward,2014,93,5.6,4881,NaN,22.0,1
999,1000,Nine Lives,"[Comedy, Family, Fantasy]",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,Kevin Spacey,2016,87,5.3,12435,19.64,11.0,1
999,1000,Nine Lives,"[Comedy, Family, Fantasy]",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,Jennifer Garner,2016,87,5.3,12435,19.64,11.0,1
999,1000,Nine Lives,"[Comedy, Family, Fantasy]",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,Robbie Amell,2016,87,5.3,12435,19.64,11.0,1
999,1000,Nine Lives,"[Comedy, Family, Fantasy]",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,Cheryl Hines,2016,87,5.3,12435,19.64,11.0,1

### تعداد فیلم‌های هر بازیکن را می‌شماریم و براساس تعداد فیلم‌هایشان به صورت نزولی مرتب می‌کنیم

In [222]:
actors.pivot_table(index="Actors", values="Film Count", aggfunc=np.sum).sort_values(by="Film Count", ascending=False)

                     Film Count
Actors
Christian Bale               11
Mark Wahlberg                11
Leonardo DiCaprio             9
Matthew McConaughey           9
 Woody Harrelson              9
...                         ...
 Peter Simonischek            1
 Dean Norris                  1
 Peter Riegert                1
 Peter McRobbie               1
 50 Cent                      1

[2394 rows x 1 columns]

## بخش و

### می‌خواهیم شهودی از رابطه بین نظر‌ها و درآمد پیدا کنیم، بنابراین چند مدل متفاوت داده‌ها را مرتب می‌کنیم و سپس درموردش بحث می‌کنیم
### برای نتیجه گیری از ۱۰ تای اول هر داده استفاده می‌کنیم

### ابتدا سطر‌هایی که درآمد و یا امتیاز متا آن‌ها وجود ندارد را حذف می‌کنیم تا نتیجه گیری مناسب‌تری انجام دهیم

In [223]:
df = df[(df['Revenue (Millions)'].notna()) & (df['Metascore'].notna())]
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"[Action, Adventure, Sci-Fi]",A group of intergalactic criminals are forced ...,James Gunn,"[Chris Pratt, Vin Diesel, Bradley Cooper, Z...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"[Adventure, Mystery, Sci-Fi]","Following clues to the origin of mankind, a te...",Ridley Scott,"[Noomi Rapace, Logan Marshall-Green, Michael...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"[Horror, Thriller]",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"[James McAvoy, Anya Taylor-Joy, Haley Lu Ric...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"[Animation, Comedy, Family]","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"[Matthew McConaughey, Reese Witherspoon, Seth...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"[Action, Adventure, Fantasy]",A secret government agency recruits some of th...,David Ayer,"[Will Smith, Jared Leto, Margot Robbie, Vio...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"[Action, Adventure, Horror]",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"[Milla Jovovich, Ali Larter, Wentworth Mille...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,[Comedy],3 high school seniors throw a birthday party t...,Nima Nourizadeh,"[Thomas Mann, Oliver Cooper, Jonathan Daniel...",2012,88,6.7,164088,54.72,48.0
996,997,Hostel: Part II,[Horror],Three American college students studying abroa...,Eli Roth,"[Lauren German, Heather Matarazzo, Bijou Phi...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"[Drama, Music, Romance]",Romantic sparks occur between two dance studen...,Jon M. Chu,"[Robert Hoffman, Briana Evigan, Cassie Ventu...",2008,98,6.2,70699,58.01,50.0
999,1000,Nine Lives,"[Comedy, Family, Fantasy]",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"[Kevin Spacey, Jennifer Garner, Robbie Amell...",2016,87,5.3,12435,19.64,11.0

### ابتدا داده ها را براساس مقدار فروششان به صورت صعودی مرتب می‌کنیم

In [224]:
movies_low_revenue = df.sort_values(by="Revenue (Millions)" , ascending=True)
movies_low_revenue.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
231,232,A Kind of Murder,"[Crime, Drama, Thriller]","In 1960s New York, Walter Stackhouse is a succ...",Andy Goddard,"[Patrick Wilson, Jessica Biel, Haley Bennett...",2016,95,5.2,3305,0.00,50.0
961,962,Into the Forest,"[Drama, Sci-Fi, Thriller]","After a massive power outage, two sisters lear...",Patricia Rozema,"[Ellen Page, Evan Rachel Wood, Max Minghella...",2015,101,5.9,10220,0.01,59.0
68,69,Wakefield,[Drama],A man's nervous breakdown causes him to leave ...,Robin Swicord,"[Bryan Cranston, Jennifer Garner, Beverly D'...",2016,106,7.5,291,0.01,61.0
321,322,Lovesong,[Drama],The relationship between two friends deepens d...,So Yong Kim,"[Riley Keough, Jena Malone, Jessie Ok Gray, ...",2016,84,6.4,616,0.01,74.0
677,678,"Love, Rosie","[Comedy, Romance]",Rosie and Alex have been best friends since th...,Christian Ditter,"[Lily Collins, Sam Claflin, Christian Cooke,...",2014,102,7.2,80415,0.01,44.0
927,928,The Sea of Trees,[Drama],A suicidal American befriends a Japanese man l...,Gus Van Sant,"[Matthew McConaughey, Naomi Watts, Ken Watan...",2015,110,5.9,7475,0.02,23.0
490,491,Stake Land,"[Drama, Horror, Sci-Fi]",Martin was a normal teenage boy before the cou...,Jim Mickle,"[Connor Paolo, Nick Damici, Kelly McGillis, ...",2010,98,6.5,36091,0.02,66.0
736,737,The Blackcoat's Daughter,"[Horror, Thriller]",Two girls must battle a mysterious evil force ...,Oz Perkins,"[Emma Roberts, Kiernan Shipka, Lauren Holly,...",2015,93,5.6,4155,0.02,68.0
661,662,The First Time,"[Comedy, Drama, Romance]",A shy senior and a down-to-earth junior fall i...,Jon Kasdan,"[Dylan O'Brien, Britt Robertson, Victoria Ju...",2012,95,6.9,54027,0.02,55.0
884,885,Equals,"[Drama, Romance, Sci-Fi]","In an emotionless utopia, two people fall in l...",Drake Doremus,"[Nicholas Hoult, Kristen Stewart, Vernetta L...",2015,101,6.1,16361,0.03,43.0

### همچنین داده‌ها را به صورت نزولی براساس درآمد مرتب می‌کنیم

In [225]:
movies_high_revenue = df.sort_values(by="Revenue (Millions)" , ascending=False)
movies_high_revenue.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
50,51,Star Wars: Episode VII - The Force Awakens,"[Action, Adventure, Fantasy]",Three decades after the defeat of the Galactic...,J.J. Abrams,"[Daisy Ridley, John Boyega, Oscar Isaac, Do...",2015,136,8.1,661608,936.63,81.0
87,88,Avatar,"[Action, Adventure, Fantasy]",A paraplegic marine dispatched to the moon Pan...,James Cameron,"[Sam Worthington, Zoe Saldana, Sigourney Wea...",2009,162,7.8,935408,760.51,83.0
85,86,Jurassic World,"[Action, Adventure, Sci-Fi]","A new theme park, built on the original site o...",Colin Trevorrow,"[Chris Pratt, Bryce Dallas Howard, Ty Simpki...",2015,124,7.0,455169,652.18,59.0
76,77,The Avengers,"[Action, Sci-Fi]",Earth's mightiest heroes must come together an...,Joss Whedon,"[Robert Downey Jr., Chris Evans, Scarlett Jo...",2012,143,8.1,1045588,623.28,69.0
54,55,The Dark Knight,"[Action, Crime, Drama]",When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart...",2008,152,9.0,1791916,533.32,82.0
12,13,Rogue One,"[Action, Adventure, Sci-Fi]",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"[Felicity Jones, Diego Luna, Alan Tudyk, Do...",2016,133,7.9,323118,532.17,65.0
119,120,Finding Dory,"[Animation, Adventure, Comedy]","The friendly but forgetful blue tang fish, Dor...",Andrew Stanton,"[Ellen DeGeneres, Albert Brooks, Ed O'Neill, ...",2016,97,7.4,157026,486.29,77.0
94,95,Avengers: Age of Ultron,"[Action, Adventure, Sci-Fi]",When Tony Stark and Bruce Banner try to jump-s...,Joss Whedon,"[Robert Downey Jr., Chris Evans, Mark Ruffal...",2015,141,7.4,516895,458.99,66.0
124,125,The Dark Knight Rises,"[Action, Thriller]",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"[Christian Bale, Tom Hardy, Anne Hathaway, G...",2012,164,8.5,1222645,448.13,78.0
578,579,The Hunger Games: Catching Fire,"[Action, Adventure, Mystery]",Katniss Everdeen and Peeta Mellark become targ...,Francis Lawrence,"[Jennifer Lawrence, Josh Hutcherson, Liam He...",2013,146,7.6,525646,424.65,76.0

### داده‌ها را براساس  نظر سنجی به صورت نزولی مرتب می‌کنیم

In [226]:
movies_high_votes = df.sort_values(by="Votes" , ascending=False)
movies_high_votes.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
54,55,The Dark Knight,"[Action, Crime, Drama]",When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart...",2008,152,9.0,1791916,533.32,82.0
80,81,Inception,"[Action, Adventure, Sci-Fi]","A thief, who steals corporate secrets through ...",Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, El...",2010,148,8.8,1583625,292.57,74.0
124,125,The Dark Knight Rises,"[Action, Thriller]",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"[Christian Bale, Tom Hardy, Anne Hathaway, G...",2012,164,8.5,1222645,448.13,78.0
36,37,Interstellar,"[Adventure, Drama, Sci-Fi]",A team of explorers travel through a wormhole ...,Christopher Nolan,"[Matthew McConaughey, Anne Hathaway, Jessica...",2014,169,8.6,1047747,187.99,74.0
76,77,The Avengers,"[Action, Sci-Fi]",Earth's mightiest heroes must come together an...,Joss Whedon,"[Robert Downey Jr., Chris Evans, Scarlett Jo...",2012,143,8.1,1045588,623.28,69.0
144,145,Django Unchained,"[Drama, Western]","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"[Jamie Foxx, Christoph Waltz, Leonardo DiCap...",2012,165,8.4,1039115,162.80,81.0
77,78,Inglourious Basterds,"[Adventure, Drama, War]","In Nazi-occupied France during World War II, a...",Quentin Tarantino,"[Brad Pitt, Diane Kruger, Eli Roth, Mélanie ...",2009,153,8.3,959065,120.52,69.0
99,100,The Departed,"[Crime, Drama, Thriller]",An undercover cop and a mole in the police att...,Martin Scorsese,"[Leonardo DiCaprio, Matt Damon, Jack Nichols...",2006,151,8.5,937414,132.37,85.0
87,88,Avatar,"[Action, Adventure, Fantasy]",A paraplegic marine dispatched to the moon Pan...,James Cameron,"[Sam Worthington, Zoe Saldana, Sigourney Wea...",2009,162,7.8,935408,760.51,83.0
64,65,The Prestige,"[Drama, Mystery, Sci-Fi]",Two stage magicians engage in competitive one-...,Christopher Nolan,"[Christian Bale, Hugh Jackman, Scarlett Joha...",2006,130,8.5,913152,53.08,66.0

### داده‌ها را براساس نظر سنجی به صورت صعودی مرتب می‌کنیم

In [227]:
movies_low_votes = df.sort_values(by="Votes" , ascending=True)
movies_low_votes.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
250,251,Bonjour Anne,"[Comedy, Drama, Romance]",Anne is at a crossroads in her life. Long marr...,Eleanor Coppola,"[Diane Lane, Alec Baldwin, Arnaud Viard, Li...",2016,92,4.9,178,0.32,50.0
616,617,2307: Winter's Dream,[Sci-Fi],"In 2307, a future soldier is sent on a mission...",Joey Curtis,"[Paul Sidhu, Branden Coles, Arielle Holmes, ...",2016,101,4.0,277,20.76,53.0
44,45,Lowriders,[Drama],A young street artist in East Los Angeles is c...,Ricardo de Montreuil,"[Gabriel Chavarria, Demián Bichir, Theo Ross...",2016,99,6.3,279,4.21,57.0
68,69,Wakefield,[Drama],A man's nervous breakdown causes him to leave ...,Robin Swicord,"[Bryan Cranston, Jennifer Garner, Beverly D'...",2016,106,7.5,291,0.01,61.0
548,549,Chuck,"[Biography, Drama, Sport]",A drama inspired by the life of heavyweight bo...,Philippe Falardeau,"[Elisabeth Moss, Naomi Watts, Ron Perlman, ...",2016,98,6.8,391,0.11,68.0
525,526,Birth of the Dragon,"[Action, Biography, Drama]","Young, up-and-coming martial artist, Bruce Lee...",George Nolfi,"[Billy Magnussen, Terry Chen, Teresa Navarro...",2016,103,3.9,552,93.05,61.0
321,322,Lovesong,[Drama],The relationship between two friends deepens d...,So Yong Kim,"[Riley Keough, Jena Malone, Jessie Ok Gray, ...",2016,84,6.4,616,0.01,74.0
259,260,Norman: The Moderate Rise and Tragic Fall of a...,"[Drama, Thriller]",Norman Oppenheimer is a small time operator wh...,Joseph Cedar,"[Richard Gere, Lior Ashkenazi, Michael Sheen...",2016,118,7.1,664,2.27,76.0
370,371,Sleight,"[Action, Drama, Sci-Fi]",A young street magician (Jacob Latimore) is le...,J.D. Dillard,"[Jacob Latimore, Seychelle Gabriel, Dulé Hil...",2016,89,6.0,702,3.85,62.0
534,535,A Quiet Passion,"[Biography, Drama]",The story of American poet Emily Dickinson fro...,Terence Davies,"[Cynthia Nixon, Jennifer Ehle, Duncan Duff, ...",2016,125,7.2,1024,1.08,77.0

### داده‌ها را براساس امتیاز صعودی مرتب می‌کنیم و ۱۰ داده برتر را نمایش می‌دهیم

In [228]:
movies_low_rating = df.sort_values(by="Rating" , ascending=True)
movies_low_rating.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
829,830,Disaster Movie,[Comedy],"Over the course of one evening, an unsuspectin...",Jason Friedberg,"[Carmen Electra, Vanessa Lachey, Nicole Parke...",2008,87,1.9,77207,14.17,15.0
871,872,Dragonball Evolution,"[Action, Adventure, Fantasy]",The young warrior Son Goku sets out on a quest...,James Wong,"[Justin Chatwin, James Marsters, Yun-Fat Cho...",2009,85,2.7,59512,9.35,45.0
237,238,The Disappointments Room,"[Drama, Horror, Thriller]",A mother and her young son release unimaginabl...,D.J. Caruso,"[Kate Beckinsale, Mel Raido, Duncan Joiner, ...",2016,85,3.9,4895,2.41,31.0
525,526,Birth of the Dragon,"[Action, Biography, Drama]","Young, up-and-coming martial artist, Bruce Lee...",George Nolfi,"[Billy Magnussen, Terry Chen, Teresa Navarro...",2016,103,3.9,552,93.05,61.0
616,617,2307: Winter's Dream,[Sci-Fi],"In 2307, a future soldier is sent on a mission...",Joey Curtis,"[Paul Sidhu, Branden Coles, Arielle Holmes, ...",2016,101,4.0,277,20.76,53.0
63,64,Fifty Shades of Grey,"[Drama, Romance, Thriller]",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"[Dakota Johnson, Jamie Dornan, Jennifer Ehle...",2015,125,4.1,244474,166.15,46.0
552,553,Fantastic Four,"[Action, Adventure, Sci-Fi]",Four young outsiders teleport to an alternate ...,Josh Trank,"[Miles Teller, Kate Mara, Michael B. Jordan,...",2015,100,4.3,121847,56.11,27.0
952,953,Sex and the City 2,"[Comedy, Drama, Romance]","While wrestling with the pressures of life, lo...",Michael Patrick King,"[Sarah Jessica Parker, Kim Cattrall, Kristin...",2010,146,4.3,62403,95.33,27.0
508,509,Movie 43,"[Comedy, Romance]",A series of interconnected short films follows...,Elizabeth Banks,"[Emma Stone, Stephen Merchant, Richard Gere,...",2013,94,4.3,83625,8.83,18.0
936,937,The Human Centipede (First Sequence),[Horror],A mad scientist kidnaps and mutilates a trio o...,Tom Six,"[Dieter Laser, Ashley C. Williams, Ashlynn Y...",2009,92,4.4,60655,0.18,33.0

### داده‌ها را براساس امتیاز به صورت نزولی مرتب می‌کنیم و ۱۰ داده برتر را نمایش می‌دهیم

In [229]:
movies_high_rating = df.sort_values(by="Rating" , ascending=False)
movies_high_rating.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
54,55,The Dark Knight,"[Action, Crime, Drama]",When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart...",2008,152,9.0,1791916,533.32,82.0
80,81,Inception,"[Action, Adventure, Sci-Fi]","A thief, who steals corporate secrets through ...",Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, El...",2010,148,8.8,1583625,292.57,74.0
36,37,Interstellar,"[Adventure, Drama, Sci-Fi]",A team of explorers travel through a wormhole ...,Christopher Nolan,"[Matthew McConaughey, Anne Hathaway, Jessica...",2014,169,8.6,1047747,187.99,74.0
249,250,The Intouchables,"[Biography, Comedy, Drama]",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"[François Cluzet, Omar Sy, Anne Le Ny, Audr...",2011,112,8.6,557965,13.18,57.0
96,97,Kimi no na wa,"[Animation, Drama, Fantasy]",Two strangers find themselves linked in a biza...,Makoto Shinkai,"[Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô N...",2016,106,8.6,34110,4.68,79.0
124,125,The Dark Knight Rises,"[Action, Thriller]",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"[Christian Bale, Tom Hardy, Anne Hathaway, G...",2012,164,8.5,1222645,448.13,78.0
991,992,Taare Zameen Par,"[Drama, Family, Music]",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"[Darsheel Safary, Aamir Khan, Tanay Chheda, ...",2007,165,8.5,102697,1.20,42.0
133,134,Whiplash,"[Drama, Music]",A promising young drummer enrolls at a cut-thr...,Damien Chazelle,"[Miles Teller, J.K. Simmons, Melissa Benoist...",2014,107,8.5,477276,13.09,88.0
99,100,The Departed,"[Crime, Drama, Thriller]",An undercover cop and a mole in the police att...,Martin Scorsese,"[Leonardo DiCaprio, Matt Damon, Jack Nichols...",2006,151,8.5,937414,132.37,85.0
476,477,The Lives of Others,"[Drama, Thriller]","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"[Ulrich Mühe, Martina Gedeck, Sebastian Koch,...",2006,137,8.5,278103,11.28,89.0

### داده‌ها را براساس امتیاز متا آن‌ها به صورت صعودی مرتب می‌کنیم و ۱۰ داده برتر را انتخاب می‌کنیم

In [230]:
movies_low_meta = df.sort_values(by="Metascore" , ascending=True)
movies_low_rating.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
829,830,Disaster Movie,[Comedy],"Over the course of one evening, an unsuspectin...",Jason Friedberg,"[Carmen Electra, Vanessa Lachey, Nicole Parke...",2008,87,1.9,77207,14.17,15.0
871,872,Dragonball Evolution,"[Action, Adventure, Fantasy]",The young warrior Son Goku sets out on a quest...,James Wong,"[Justin Chatwin, James Marsters, Yun-Fat Cho...",2009,85,2.7,59512,9.35,45.0
237,238,The Disappointments Room,"[Drama, Horror, Thriller]",A mother and her young son release unimaginabl...,D.J. Caruso,"[Kate Beckinsale, Mel Raido, Duncan Joiner, ...",2016,85,3.9,4895,2.41,31.0
525,526,Birth of the Dragon,"[Action, Biography, Drama]","Young, up-and-coming martial artist, Bruce Lee...",George Nolfi,"[Billy Magnussen, Terry Chen, Teresa Navarro...",2016,103,3.9,552,93.05,61.0
616,617,2307: Winter's Dream,[Sci-Fi],"In 2307, a future soldier is sent on a mission...",Joey Curtis,"[Paul Sidhu, Branden Coles, Arielle Holmes, ...",2016,101,4.0,277,20.76,53.0
63,64,Fifty Shades of Grey,"[Drama, Romance, Thriller]",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"[Dakota Johnson, Jamie Dornan, Jennifer Ehle...",2015,125,4.1,244474,166.15,46.0
552,553,Fantastic Four,"[Action, Adventure, Sci-Fi]",Four young outsiders teleport to an alternate ...,Josh Trank,"[Miles Teller, Kate Mara, Michael B. Jordan,...",2015,100,4.3,121847,56.11,27.0
952,953,Sex and the City 2,"[Comedy, Drama, Romance]","While wrestling with the pressures of life, lo...",Michael Patrick King,"[Sarah Jessica Parker, Kim Cattrall, Kristin...",2010,146,4.3,62403,95.33,27.0
508,509,Movie 43,"[Comedy, Romance]",A series of interconnected short films follows...,Elizabeth Banks,"[Emma Stone, Stephen Merchant, Richard Gere,...",2013,94,4.3,83625,8.83,18.0
936,937,The Human Centipede (First Sequence),[Horror],A mad scientist kidnaps and mutilates a trio o...,Tom Six,"[Dieter Laser, Ashley C. Williams, Ashlynn Y...",2009,92,4.4,60655,0.18,33.0

### داده‌ها را براساس امتیاز متا آن‌ها به صورت نزولی مرتب می‌کنیم و ۱۰ داده برتر را انتخاب می‌کنیم

In [231]:
movies_high_meta = df.sort_values(by="Metascore" , ascending=False)
movies_high_rating.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
54,55,The Dark Knight,"[Action, Crime, Drama]",When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart...",2008,152,9.0,1791916,533.32,82.0
80,81,Inception,"[Action, Adventure, Sci-Fi]","A thief, who steals corporate secrets through ...",Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, El...",2010,148,8.8,1583625,292.57,74.0
36,37,Interstellar,"[Adventure, Drama, Sci-Fi]",A team of explorers travel through a wormhole ...,Christopher Nolan,"[Matthew McConaughey, Anne Hathaway, Jessica...",2014,169,8.6,1047747,187.99,74.0
249,250,The Intouchables,"[Biography, Comedy, Drama]",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"[François Cluzet, Omar Sy, Anne Le Ny, Audr...",2011,112,8.6,557965,13.18,57.0
96,97,Kimi no na wa,"[Animation, Drama, Fantasy]",Two strangers find themselves linked in a biza...,Makoto Shinkai,"[Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô N...",2016,106,8.6,34110,4.68,79.0
124,125,The Dark Knight Rises,"[Action, Thriller]",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"[Christian Bale, Tom Hardy, Anne Hathaway, G...",2012,164,8.5,1222645,448.13,78.0
991,992,Taare Zameen Par,"[Drama, Family, Music]",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"[Darsheel Safary, Aamir Khan, Tanay Chheda, ...",2007,165,8.5,102697,1.20,42.0
133,134,Whiplash,"[Drama, Music]",A promising young drummer enrolls at a cut-thr...,Damien Chazelle,"[Miles Teller, J.K. Simmons, Melissa Benoist...",2014,107,8.5,477276,13.09,88.0
99,100,The Departed,"[Crime, Drama, Thriller]",An undercover cop and a mole in the police att...,Martin Scorsese,"[Leonardo DiCaprio, Matt Damon, Jack Nichols...",2006,151,8.5,937414,132.37,85.0
476,477,The Lives of Others,"[Drama, Thriller]","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"[Ulrich Mühe, Martina Gedeck, Sebastian Koch,...",2006,137,8.5,278103,11.28,89.0

### حال به تفسیر آن می‌پردازیم

### در ابتدا به داده‌هایی که وسیله مرتب‌سازی براساس درآمد بدست آمده‌است توجه کنید. تمام داده‌ها با درآمد بالا امتیاز متا و امتیاز و نظرسنجی نسبتا بالایی دارند که بنظر رابطه معقولی می‌آید. اما در درآمد‌های پایین پیش آمده‌است که امتیاز خیلی پایین یا امتیاز متا نسبتا خوبی داشته باشد اما درآمد پایینی بدست آورده‌باشد. بنظرم دلیل عدم موفقیت این فیلم ها به دلایل دیگری ممکن است ربط داشته‌باشد. به طور مثال فیلم‌هایی که در دوران کرونا اکران شده‌اند درآمد آنچنانی خوبی نداشتند

### وقتی داده‌ها را براساس نظرسنجی مرتب می‌کنیم، فیلم‌هایی که در نظرسنجی تعداد افراد بیشتری حضور داشتند درآمد زیادی بدست‌آوردند اما نمی‌توان گفت که رابطه مستقیمی باهم دارند؛ زیرا در داده‌ها اختلاف چشم‌گیری بین درآمد‌های با تعداد نظرسنجی بالا پیدا می‌شود. اما رابطه نسبتا مستقیمی با امتیاز دارد. همچنین برای فیلم‌هایی که تعداد افراد شرکت در نظرسنجی کمتر بوده‌است نمی‌توان رابطه خوبی بدست آوزد. با اینکه اکثر آن‌ها درآمد خوبی نداشتند اما بین آن‌ها فیلم‌هایی با درآمد بالا نیز دیده ‌می‌شود

### تحلیل داده‌ها وقتی براساس امتیاز مرتب شده‌اند تقریبا مشابه زمانی است که براساس تعداد افراد شرکت‌کننده در نظرسنجی مرتب شده‌است. به تقریب فیلم‌هایی با امتیاز بالا درآمد نسبتا خوبی داشته‌اند اما فیلم‌های با امتیاز پایینی بوده‌اند که درآمد قابل توجهی داشتند.

### در آخرین بخش تحلیل داده‌ها، آن‌ها را براساس امتیاز متا آن‌ها مرتب کردیم. تقریبا اطلاعات خوبی بدستمان نرسید و تناقض‌های زیادی وجود داشت

### با تحلیل‌هایی که دیدیم، بنظرم یک فیلم با درآمد بالا به طور معمول امتیاز و امتیاز متا و تعداد شرکت‌کننده بالایی دارد ولی فیلم‌هایی که امتیاز بالا دارند دلیل بر پردرآمد بودن آن‌ها نیست. بنظر می‌رسد برای اینکه به رابطه بهتری بین یک فیلم و درآمد آن برسیم به روابط بیشتری نیازمندیم. به نظرم نمی‌توانیم به طور دقیق بگوییم اگر یک فیلم با امتیاز بالا وجود داشته باشد، حتما این فیلم درآمد بالایی خواهد داشت. به طور مثال اکثر فیلم‌های چند کارگردان، درآمد بالایی داشته است. همچنین یک سری فیلم با عنوان‌های خاص نیز درآمد بالایی داشتند اما شاید رتبه خوبی هم نداشتند. معمولا این اتفاق در فیلم‌هایی با ژانر اکشن اتفاق افتاده‌است. همچنین دیدیم که اکثر فیلم‌های با درآمد کم در ژانر درام بوده‌اند. بنابراین بنظرم علاوه بر نظر مردم به عوامل بیشتری وابسته است اما می‌توان به طور کلی گفت که امتیاز بالا با شرکت‌کننده‌های زیاد یک فیلم خوب را معرفی می‌کند که پتانسیل داشتن درآمد بالا را دارد